:root {
  /* Cores */
  --roxo-claro: #b84da6;
  --roxo-medio: #7732a6;
  --roxo-escuro: #210b56;
  --mostarda: #f2a812;
  --creme: #ffe9a9;
  --azul-claro: #93b1e3;
  --rosa: #f54e96;

  /* Fonte */
  --fonte-pixel: "Pixelify Sans", sans-serif;
  --fonte-titulo: "Aladin", system-ui;
}

html,
body {
  margin: 0;
  padding: 0;
  height: 100%;
  font-family: var(--fonte-pixel);
  overflow-x: hidden;
  display: flex;
  flex-direction: column;
}

main {
  flex: 1;
  z-index: 999;
  background-color: #f54e96;
  margin: 0 40px;
}

nav {
  background-color: var(--roxo-escuro);
}

#icone-anahi-nav {
  margin-top: -10px;
  width: 50px;
  height: 40px;
}

.conteudo-nav {
  display: flex;
  justify-content: space-between;
  align-items: center;
  background-color: transparent;
  padding: 10px;
}

ul {
  display: flex;
  list-style: none;
  margin: 0;
  padding: 0;
}

li {
  font-size: 1.2em;
  color: white;
  display: inline-block;
  margin: 20px 16px;
}

li > a {
  display: flex;
  z-index: 1;
  color: white;
  text-decoration: none;
  transition: transform 0.2s ease;
}

li > a:hover {
  text-decoration: underline;
  transform: translateY(-4px);
}

.botoes-nav {
  display: flex;
  gap: 10px;
  background-color: transparent;
}

.botoes-nav > button {
  background: none;
  border: none;
  cursor: pointer;
}

.botoes-nav button img {
  width: 28px;
  height: 28px;
  padding: 10px;
  background-image: url("artes-anahi/botoes-anahi/btn-branco-roxo-1.png");
  background-size: cover;
  background-position: center;
  background-repeat: no-repeat;
  border: none;
}

.background {
  width: 100%;
  height: 90vh;
  background-color: #5e3ab4;
}

.nuvens {
  width: 100vw;
  height: 104vh;
  background-image: url("artes-anahi/background/nuvens.png");
  background-size: cover;
  background-position: top;
  z-index: 0;
  position: relative;
}

.conteudo-nuvens {
  width: 100vw;
  height: 90%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}

#logo {
  width: 420px;
  margin-bottom: 20px;
}

#intro-nuvens {
  text-shadow: 2px 2px 4px rgba(0, 0, 0, 0.692);
  font-size: 1.1em;
  max-width: 720px;
  margin-top: 0vh;
  text-align: center;
  color: white;
  font-weight: 400;
}

.cta-button {
  background: url("artes-anahi/botoes-anahi/input-rosa-1.png.png") center;
  background-size: cover;
  width: 200px;
  height: 60px;
  align-items: center;
  display: flex;
  justify-content: center;
  color: white;
  text-decoration: none;
  font-size: 14px;
  cursor: pointer;
  font-family: var(--fonte-pixel);
}

.grama {
  position: relative;
  background-image: url("artes-anahi/Textures16x16/5g-1.png");
  background-size: 66px;
  z-index: 0;
  width: 100vw;
  height: 80vh;
  margin-top: -40px;
}

.alinhamento-flores-superior {
  position: absolute;
  top: -80px;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-start;
  z-index: 1;
  pointer-events: none;
  padding: 0;
}

.alinhamento-flores-superior img,
.flores-inferiores img,
#florprincipal {
  max-height: 80px;
  height: auto;
  width: auto;
}

.flores-inferiores {
  position: absolute;
  bottom: 0;
  width: 100%;
  display: flex;
  justify-content: space-between;
  align-items: flex-end;
  padding: 0;
  z-index: 2;
}

#florprincipal {
  position: absolute;
  bottom: 0;
  left: 70%;
  z-index: 3;
}

.card-funcionalidades {
  position: relative; /* Corrigido */
  margin: 80px auto;
  max-width: 600px;

  background-size: contain;
  background-repeat: no-repeat;
  background-position: center;
  background-color: #ffe9a9;
  border: 6px solid var(--roxo-claro);
  box-shadow: 0 0 0 6px var(--rosa);
  z-index: 1;

  padding: 20px;

  align-items: center;
  text-align: center;

  font-family: var(--fonte-pixel);
}

.alinhamento-superior,
.alinhamento-inferior {
  padding: 10px;
  align-items: center;
  display: flex;
}

.item {
  margin: 10px;
  width: 280px;
}

.item > img {
  width: 40px;
  height: 40px;
}

section {
  background-color: var(--mostarda);
}

h1,
h2,
h4,
h5,
h6 {
  font-family: var(--fonte-titulo);
  background: linear-gradient(to bottom, var(--roxo-claro), var(--rosa));
  -webkit-background-clip: text;
  -webkit-text-fill-color: transparent;
  background-clip: text;
  color: transparent;
  font-size: 2.5em;
  font-weight: lighter;
}

footer {
  background-color: var(--roxo-escuro);
  color: white;
  text-align: center;
  padding: 20px;
}
